h1 {
  color: tomato;
}


.listItem{
  display: inline-flex;
  width: 90%;
  margin-left: 50px;
}


.item{
      flex: 50%;
}

.navbar{
  background-color: #519ee2;
position: fixed;
width: 100%;
z-index: 1000
}


body{
      background-color: #646d8e;
}


.loginForm{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
}

.login-form{
  padding-top: 15%;
    margin: auto;
    width: 15%;
}

.adduser-form{
  padding-top: 3%;
    margin: auto;
    width: 15%;
}

.sideBarHead{
  width: 13%;
height: 100vh;
background-color: #b59a82;
position: fixed;
}

.sideBarUl{
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.sideBarli{
  margin-top: 20px;
  cursor: pointer;
}

.sideBarli.selected {
    font-weight: bold;
}

.cqInput{
  margin-top: 30%;
    height: 40px;
    font-size: 20px;
    width: 1000px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin-left: 25%;
}

.rqButton{
  font-size: 25px;
    cursor: pointer;
    border: 0;
    background: transparent;
    margin-left: 20px;
}

.cqButton{
  margin-top: 50px;
  margin-left: 65%;
  font-size: 20px;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.mqButton{
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    background: transparent;
}

.cqInputCheck{
  -webkit-appearance: checkbox ;
  box-sizing: border-box;
  margin-right: 5px;
}

.cqCheck{
  margin-left: 60%;
  margin-top: 30px;
      display: -webkit-inline-box;
}

.cqTime{
  margin-left: 67%;
margin-top: 40px;
}

.ant-row{
  margin-top: 5px
}


.ant-table-wrapper{
  width:400px;
  margin:auto
}

.ant-table table{
  border-collapse: collapse !important;
  background-color: #9ed8da
}

.ant-card-head{
  background-color: aliceblue
}

.ant-card-body{
  background-color: #9ed8da;
  // display: inline-flex
}

.antCardNormal{
  cursor: pointer;
}

.antCardBOx{

}
